<section class="projects-section container my-5">
  <h2 class="section-title text-center">Our Robotics Projects</h2>

  <div class="row align-items-start mt-4">
    <div class="col-md-6">
      <img src="assets/frc-robot.png" alt="FRC Robot" class="img-fluid robot-img">
    </div>
    <div class="col-md-6">
      <h4 class="text-orange">2025 Competition Robot</h4>
      <p>
        This year’s build features a custom aluminum chassis, tank treads for maximum traction, a dual-arm intake system, and autonomous pathfinding using Python and vision tracking.
      </p>
      <p>
        Designed and built by our team from the ground up, this robot is ready to dominate the challenge arena!
      </p>
    </div>
  </div>
</section>
